@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

html,body{
  margin:0;
  padding:0;
  font-family: "Arimo",sans-serif;
}

header{
  background-color: #e4f5e5;
  margin:0;
  padding:1rem;
}

h1{
  text-align: center;
}

.icon{
  margin:0 auto;
  text-align: center;
}

form, input,.message{
  border: solid 1px #6c757d;
  border-radius: 5px;
  margin:1rem auto;
  padding:.5rem;
  text-align: center;
}

form{
  background-color: #ebe1bc;
  width:50%;
  text-align: center;
}

label{
  font-weight: 900;
}

.search{
  margin:1rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  width:75%;
}

#searchInput{
  flex-grow: 2;
}

#searchInput input{
  width:100%;
}

input,button{
  font-family: "Arimo",sans-serif;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.search button{
  background-color: green;
  color:white;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 5px;
  vertical-align: middle;
}

.messages{
  margin:1rem auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: baseline;
}

.message{
  width:25%;
  border:solid 1px black;
  background: radial-gradient(white,#e4f5e5);
}

 nav a,.login,.logout{
  margin:1rem;
  color: green;
  font-weight:900;
  text-decoration: none;
  text-align: center;
  font-size:1.5rem;
  padding:0;
}

.nav-bar{
  width:100%;
  margin:1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.login,.logout{
  border:none;
  background-color: transparent;
  cursor: pointer;
}

.user-info{
  animation:2s linear 1s infinite toggle;
  font-size:1em;
}

.message-content{
  word-wrap:break-word;
}

.no-messages,.error-msg,.home-page-msg,.loading{
  text-align: center;
  margin:1rem auto;
}

.error-msg{
  color:red;
}

.toggle-view-more{
  cursor: pointer;
  color:brown;
  text-decoration: underline;
}

@keyframes toggle {
  to{
    color:white;
  }
  from{
    color:black;
  }
}

@media screen and (max-width:600px) {
  .message{
    width:75%;
  }
  .nav-bar{
    flex-direction: column;
    justify-content: start;
  }
}